// @import '/node_modules/@angular/material/theming';
// @include mat-core();
@use '@angular/material' as mat;
@include mat.core();

$app-primary: mat.define-palette(mat.$red-palette, A700);
$app-accent: mat.define-palette(mat.$grey-palette, A100);
// $app-accent: mat.define-palette(mat.$grey-palette, A100);
$app-typography: mat.define-typography-config(
  $font-family: 'Roboto',
);

$app-theme: mat.define-dark-theme((
    color: (
        primary: $app-primary,
        accent: $app-accent,
    ),
    typography: $app-typography,
    density: 0,
));

@include mat.all-component-themes($app-theme);
