.list-ietm-img {
    height: 100px;
}

a.title {
    font-size: 18px;
}

.actions {
    margin-top: -14px;
    button {
        flex: 1 auto;
    }
}

.mat-card-texts .buttons {
    font-size: 12px;
}

.no-data {
    height: 300px;
}