/* You can add global styles to this file, and also import other style files */
@import 'css-star-rating/scss/star-rating';

html,
body {
    height: 100%;
    background-color: #1F1E1C;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
label,
button {
    color: #fff;
}


.star-rate {
    color: #f5c518;
    transform: scale(.6);
}

a {
    text-decoration: unset;
}

.small-text {
    font-size: 16px;
}

.sub-text {
    color: #d1d1d1;

    mat-icon {
        transform: scale(.6);
    }
}

header {
    max-width: 400px;
    h1 {
        font-size: 30px;
    }
    
    p {
        font-size: 18px;
        line-height: 1.5em;
    }
}